{#
/**
 * @file
 * A bastarization of Olivero's theme implementation to display a node teaser.
 *
 * @see web/core/themes/olivero/templates/content/node--teaser.html.twigs
 */
#}

{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}


{% embed "olivero:teaser" with {
  attributes: attributes.addClass(classes),
  content,
  date,
  label,
  metadata,
  title_attributes,
  title_prefix,
  title_suffix,
  read_more,
  url,
  } only %}
  {% block prefix %}
    {{ title_prefix }}
    {{ title_suffix }}
  {% endblock %}
  {% block meta %}
     {{ date }}
  {% endblock %}
  {% block image %}{{~ content.field_image ~}}{% endblock %}
  {% block title %}
    {% if label and not page %}
      <h2{{ title_attributes.addClass('node__title', 'teaser__title') }}>
        {{ label }}
      </h2>
    {% endif %}
  {% endblock %}
  {% block content %}
    {{ content|without('field_image', 'field_link', 'links') }}

    {% if content.field_link|render %}
      <a class="button" href="{{content.field_link.0['#url']}}">Read More</a>
    {% endif %}
  {% endblock %}
{% endembed %}
