<article {{attributes.addClass('tournament-teaser')}}>
  <header>
    {{title_prefix}}
    {{title_suffix}}
    <h2>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  </header>
  <div class="teaser__content">
    {{ photo }}
    {{ date_time }}
  </div>
</article>
